.wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  @media (max-width: 768px) {
  	padding: 0 12px;
  }
}

.wrapper-a {
	display: block;
	width: 100%;
	max-width: 892px;
}