// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    font-family: 'Open Sans';
    font-display: swap;
    src: url('../fonts/Open_Sans/OpenSans-Bold.eot');
    src:
        url('../fonts/Open_Sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Open_Sans/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/Open_Sans/OpenSans-Bold.woff') format('woff'),
        url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    font-display: swap;
    src: url('../fonts/Open_Sans/OpenSans-SemiBold.eot');
    src:
        url('../fonts/Open_Sans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Open_Sans/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/Open_Sans/OpenSans-SemiBold.woff') format('woff'),
        url('../fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    font-display: swap;
    src: url('../fonts/Open_Sans/OpenSans-Regular.eot');
    src:
        url('../fonts/Open_Sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Open_Sans/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/Open_Sans/OpenSans-Regular.woff') format('woff'),
        url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kelson Sans RU';
    src: local('Kelson Sans Regular RU'), local('KelsonSans-RegularRU'),
        url('../fonts/KelsonSans/KelsonSans-RegularRU.woff2') format('woff2'),
        url('../fonts/KelsonSans/KelsonSans-RegularRU.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kelson Sans RU';
    src: local('Kelson Sans RU Bold'), local('KelsonSans-BoldRU'),
        url('../fonts/KelsonSans/KelsonSans-BoldRU.woff2') format('woff2'),
        url('../fonts/KelsonSans/KelsonSans-BoldRU.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@mixin RegularFont {
  font-family: 'Kelson Sans RU';
  font-weight: normal;
}

@mixin BoldFont {
  font-family: 'Kelson Sans RU';
  font-weight: bold;
}

@mixin SansR {
  font-family: 'Open Sans';
  font-weight: normal;
}

@mixin SansB {
  font-family: 'Open Sans';
  font-weight: bold;
}

@mixin SansSemi {
  font-family: 'Open Sans';
  font-weight: 600;
}

