$rb-color: $brand-color;
$rb-label-color: $title-color;
$rb-label-offset-left: 32px;
$rb-font-size: 14px;
$rb-line-height: 24px;

$rb-border-width: 1px;
$rb-border-color: #ebebeb;
$rb-size: 24px;
$rb-dot-size: 8px;
$rb-offset-top: 24px;
$rb-position-top: 0;

.field-radio {
  & + #{&} {
    margin: $rb-offset-top 0 0;
  }
	label {
    position: relative;
    display: inline-block;
    padding-left: $rb-label-offset-left;
    -webkit-tap-highlight-color: rgba($rb-color, 0.1);
    @media (min-width: 769px) {
      &:hover {
        .radio-label {
          color: $rb-color;
        }
        i {
          border-color: $rb-color;
        }
      }
    }
  }
  .radio-label {
    display: inline-block;
    min-height: $rb-size;
    user-select: none;
    transition: color .2s;
    @include font($rb-label-color, $rb-font-size, $rb-line-height);
  }
  input {
    display: block;
    position: absolute;
    width: 1px; height: 1px;
    opacity: 0;
    top: 0;
    left: 0;
  }
  i {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: $rb-position-top; 
    left: 0;
    width: $rb-size; 
    height: $rb-size;
    border-radius: calc(#{$rb-size} / 2);
    background: transparent;
    border: $rb-border-width solid $rb-border-color;
    background-color: #fff;
    transition: border .2s;
    &:before {
      pointer-events: none;
      content: '';
      display: block;
      position: absolute;
      top: calc((#{$rb-size} - #{$rb-border-width} * 2) / 2  - #{$rb-dot-size} / 2);
      left:calc((#{$rb-size} - #{$rb-border-width} * 2) / 2  - #{$rb-dot-size} / 2);
      width: $rb-dot-size;
      height: $rb-dot-size;
      border-radius: calc(#{$rb-dot-size} / 2);
      background-color: $rb-color;
      transition: transform .2s;
      transform: scale(0);
    }
  }
  input:checked + i {
    border-color: $rb-color;
    &:before {
      transform: scale(1);
    }
  }
  input:checked ~ .radio-label {
    color: $rb-color;
  }
  input:disabled + i {
    background: #f4f4f4;
    border-color: #a6a6a6;
    &::before {
      background-color: #a6a6a6;
    }
  }
  input:disabled ~ .radio-label {
    color: #a6a6a6;
  }

  .radio-box {
    width: 100%;
    max-width: 497px;
    height: 72px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    i, i::before {
      position: relative;
    }
    i {
      margin-right: 16px;
    }
    .radio-label {
      &::before {
        content: '';
        display: block;
        position: absolute;
        top:0;
        left:0;
        right: 0;
        bottom:0;
        border: 1px solid #EBEBEB;
      }
    }
    input:checked~.radio-label:before {
      border: 1px solid #79A25F;
    }
  }
}

.state-error {
  .field-radio i, .field-radio label:hover i {
    border: 1px solid $error;
  }
  .field-radio .radio-label {
    color: $error!important;
    & > * {
      color: $error!important;
    }
    a {
      transition: border .2s;
      border-bottom: 1px solid transparent;
    }
    a:hover {
      border-color: $error;
    }
  }
}
